.app{
    padding: 16px;

    h1{
        margin-bottom: 8px;
        font-size: 1.5rem;
    }
    p{
        margin-bottom: 16px;
    }
}
.components-row{
    display: flex;
    gap: 16px;
    align-items: flex-start;
}
.components-container{
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 16px;
}
